{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}

<div class="categories">
    {% for category in categories %}
    <div class="category">  {{ category.name }} </div>
    {% endfor %}
</div>
<div class="product-details">
    <div class="product-img">
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
    </div>
    <div class="product-details-info">
        <h2 class="product-brand">{{ product.brand.name }}</h2>
        <h1 class="product-name">{{ product.name }}</h1>
        <p class="product-text">{{ product.desc }}</p>
    </div> 
    <button class="product-title">
        <p class="product-price">{{ product.price }}</p>
    </button>
    
</div>
{% endblock %}
